/* css Header_Top phần chạy chữ */
.header-top {
  background: #22bbea;
}
#run_text marquee {
  font-size: 23px;
  color: white;
}
@media screen and (max-width: 768px) {
  .header-top .fh5co-link {
    text-align: center;
  }
}
/* Css Header main */
.navigation_header {
  margin-top: -20px;
  background-color: #eaeff5;
}
.divheader {
  text-decoration: none;
  padding-right: 20px;
  margin-right: 10px;
  border-radius: 50px;
}

.navigation_header span {
  color: black;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
.navigation_header span:hover {
  color: #22bbea;
  font-size: 23px;
}
#logo {
  height: 50px;
}
