#footer {
  background-color: #222;
  height: auto;
  border-radius: 10px;
  font-size: 20px;
}

.logo img {
  width: 150px;
  border-radius: 100px;
  margin: 39px 30px;
  box-shadow: 1px 1px 1px 1px rgb(211, 111, 17);
}
#footer img:hover {
  width: 155px;
  border-radius: 100px;
  transition: 1s;
}

#lienket h3 {
  color: #22adb6;
  font-size: 25px;
  text-shadow: 1px 1px 1px black;
}
#lienket h2:hover {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
#lienket h4 {
  color: orange;
  font-weight: bold;
  margin-top: 20px;
}

#lienket {
  text-align: center;
}
#lienket i {
  background-color: rgb(255, 255, 255);
  width: 30px;
  border-radius: 10px;
  margin-left: 10px;
  text-shadow: 1px 1px 1px rgb(216, 33, 33);
  box-shadow: 1px 1px 1px 1px rgb(199, 174, 36);
}
#lienket i:hover {
  background-color: rgb(188, 253, 8);
  width: 32px;
  border-radius: 8px;
  transition: 1s;
}

#themfooter h4 b {
  color: #189fa8;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px black;
}
#themfooter h4:hover {
  color: white;
  margin-bottom: 20px;
}
#themfooter h4 {
  color: white;
  margin-bottom: 20px;
}
#themfooter h4:hover {
  color: orange;
  margin-bottom: 20px;
}
#sanxuat {
  text-align: center;
}
#sanxuat h4 {
  font-weight: bold;
  margin-top: 20px;
  font-style: italic;
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
}
.item {
  padding: 20px;
  align-items: center;
}

@-webkit-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@-moz-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@-o-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}

@media only screen and (max-width: 414px) {
  .logo img {
    margin-right: 44px;
  }

  #themfooter {
    margin: 5px 5px;
  }
  #themfooter h3 {
    color: #22adb6;
    margin-bottom: 20px;
    font-size: 18px;
  }
  #themfooter h4 {
    font-size: 20px;
  }
  #lienket h3 {
    color: #189fa8;
    font-size: 22px;
  }

  #sanxuat h4 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  #themfooter {
    margin-left: 15px;
  }
  .logo img {
    position: absolute;
    left: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .logo img {
    width: 100px;
    border-radius: 100px;
    position: relative;
    top: 0;
    left: 100px;
  }

  #lienket h4 {
    display: none;
  }
  #sanxuat h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .logo img {
    width: 100px;
    border-radius: 100px;
    position: relative;
    top: 0;
    right: 20px;
  }
  #footer img:hover {
    width: 105px;
  }

  #sanxuat h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 540px) {
  #footer img:hover {
    width: 105px;
  }
  #sanxuat h4 {
    font-size: 17px;
  }
}
