#footer {
  background-color: #222;
  height: auto;
  border-radius: 10px;
}

.logo img {
  width: 150px;
  border-radius: 100px;
  margin: 39px 30px;
}
#footer img:hover {
  width: 160px;
  border-radius: 100px;
}
#lienket {
  margin-left: 30px;
}
#lienket h3 {
  color: #22adb6;
  font-weight: bold;
  margin-left: 60px;
  margin-bottom: 20px;
}
#lienket h2:hover {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
#lienket h4 {
  color: orange;
  font-weight: bold;
  margin-top: 20px;
}

#lienket {
  text-align: center;
}
#lienket i {
  background-color: white;
  width: 30px;
  border-radius: 5px;
  margin-left: 10px;
}
#lienket i:hover {
  background-color: rgb(235, 214, 214);
  width: 35px;
  border-radius: 8px;
}
#themfooter {
  display: flex;
}
#themfooter h4 b {
  color: #22adb6;
  margin-bottom: 20px;
}
#themfooter h4:hover {
  color: white;
  margin-bottom: 20px;
}
#themfooter h4 {
  color: white;
  margin-bottom: 20px;
}
#themfooter h4:hover {
  color: orange;
  margin-bottom: 20px;
}
#sanxuat {
  text-align: center;
}
#sanxuat h4 {
  font-weight: bold;
  margin-top: 20px;
  font-style: italic;
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
}

@-webkit-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@-moz-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@-o-keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}
@keyframes my {
  0% {
    color: #f8cd0a;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #f8cd0a;
  }
}

@media only screen and (max-width: 414px) {
  .logo img {
    display: none;
  }
  #themfooter {
    margin: 5px 5px;
  }
  #themfooter h3 {
    color: #22adb6;
    margin-bottom: 20px;
    font-size: 18px;
  }
  #themfooter h4 {
    font-size: 16px;
  }
  #lienket h3 {
    color: #22adb6;
    font-size: 25px;
    position: relative;
    right: 80px;
  }
  #lienket p {
    margin-right: 30px;
  }
  #lienket h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  #sanxuat h4 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1024px) {
  #themfooter {
    margin-left: 15px;
  }
  .logo img {
    position: absolute;

    left: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .logo img {
    width: 100px;
    border-radius: 100px;
  }
  #themfooter {
    margin: 5px 5px;
  }
  #themfooter h3 {
    color: #22adb6;
    margin-bottom: 20px;
    font-size: 20px;
  }
  #themfooter h4 {
    font-size: 16px;
  }
  #lienket h3 {
    color: #22adb6;
    font-size: 20px;
    margin-left: 20px;
  }
  #lienket p {
    /* margin-right: 30px; */
  }
  #lienket h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  #sanxuat h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .logo img {
    width: 100px;
    border-radius: 100px;
    position: relative;
    top: 0;
    right: 20px;
  }
  #footer img:hover {
    width: 105px;
  }
  #lienket h3 {
    margin-right: 100 px;
  }
  #sanxuat h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .logo img {
    width: 100px;
    border-radius: 100px;
    position: relative;
    top: 0;
    left: 165px;
  }
  #footer img:hover {
    width: 105px;
  }
  #lienket h3 {
    margin-left: 150px;
  }
  #sanxuat h4 {
    font-size: 17px;
  }
}
