#row_donate {
  background-color: rgb(255, 248, 238);
}
#my-donation {
  background-color: #22bbea;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  margin: 40px;
  width: 100%;
}
#my-donation textarea {
  width: 100%;
  height: 150px;
}
#my-donation input {
  border-radius: 10px;
}
#my-donation input:hover {
  background-color: rgb(162, 240, 126);
}
