/* Nền tảng xây dựng dự án */
.container-found {
  margin-top: 13px;
  padding-bottom: 10px;
  background-color: rgb(248, 242, 234);
}
.container-found h1 {
  padding-top: 50px;
  text-align: center;
}
.row {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}
.content_found {
  margin-top: 10px;
}
.sub_content_found span {
  color: #22bbea;
  padding: 10px;
  font-size: 30px;
  justify-content: center;
}
.sub_content_found p {
  font-size: 20px;
  color: black;
}

@media only screen and (max-width: 1366px) {
  .container-found h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 45px;
  }
  .sub_content_found span {
    color: #22bbea;
    padding: 5px;
    font-size: 30px;
    justify-content: center;
  }
  .sub_content_found p {
    font-size: 15px;
    color: black;
  }
}
@media only screen and (max-width: 736px) {
  .container-found h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 25px;
  }
  .sub_content_found {
    text-align: center;
  }
  .sub_content_found span {
    color: #22bbea;
    padding: 5px;
    font-size: 20px;
    text-align: justify;
    /* justify-content: ; */
  }
  .sub_content_found p {
    font-size: 15px;
    color: black;
    text-align: justify;
  }
}

/* Giá trị của PN */

.values_containerfluid {
  background-image: -ms-linear-gradient(-90deg, #f3e2d3 0%, white 100%);
}
.values_container {
  margin-bottom: 4px;
  /* background-color: antiquewhite; */
}
.values_container h1 {
  padding-top: 20px;
  text-align: center;
  color: #22bbea;
}
.values_container p {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 25px;
}

.row_value i {
  margin-left: 50px;
}
.values_container p:hover {
  color: #22bbea;
}
.values_container p i {
  padding-left: 5px;
}
/* Giá trị của PN */
@media only screen and (max-width: 1366px) {
  .values_container {
    text-align: center;
  }
  .values_container h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 45px;
    color: #22bbea;
  }
}
@media only screen and (max-width: 736px) {
  .values_container {
    text-align: center;
  }
  .values_container h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #22bbea;
  }

  .row_value i {
    background-color: #dd6f0f;
    margin-left: 0px;
  }
  .values_container p {
    font-size: 20px;
  }
}

/* Partner Đối tác */
.img_partern {
  border-radius: 10px;
  height: 30%;
  width: 30%;
}
