.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background: #7b99ee;
    border: 0;
    box-shadow: none;
    z-index: 999;
    color: #fff;
    /* display: none; */
}

.scroll-top:hover,
.scroll-top:focus {
    background: #7c6df4;
}