#itnuoiit_background {
  background-color: rgb(245, 241, 237);
}

.carousel-item {
  background-color: rgb(250, 243, 243);
  background-size: cover;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}

.carousel-indicators .active {
  width: 15px !important;
  height: 15px !important;
  background-color: #54adbf !important;
  border: #54adbf;
}
#introduce {
  color: #54adbf;
  font-size: 2rem;
  width: 40rem;
  top: 5rem;
  margin-left: 60rem;
}
#meaning {
  font-size: 8rem;
  color: white;
}
#appeal {
  font-size: 8rem;
  color: white;
  text-align: center;
}
.d-block {
  background-size: cover;
}
.content-silde {
  color: white;
}
/* Container */
.container-itnuoiit {
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
}
/* Reason */
.reason {
  background-image: url("../images/ItNuoiIt/banner1.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 10rem;
  background-position: center;
  background-size: 100%;
}
#image-donate {
  justify-content: center;
}
.content-reasion {
  color: white;
  margin-top: 25%;
}
.content-reasion h1 {
  font-size: 6rem;
  color: white;
}
.content-reasion h2 {
  color: white;
  font-size: 3rem;
}
/* Covid */
#image-covid {
  background-size: 100%;
}
.covid {
  background-image: url("../images/ItNuoiIt/banner1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100%;
}
.covid-content {
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.covid-content h1 {
  color: #54acbf;
  font-size: 4rem;
}
.covid-content h2 {
  color: #54acbf;
}
/* Letter */
.letter {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.content-letter h1,
h2,
h3 {
  text-align: left;
  color: #54acbf;
}
.meaning {
  margin-bottom: 10rem;
}
#imgletter {
  height: 400px;
}
/* Benefit  */
.benefit {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
.back-benefit {
  background-color: #54acbf;
}
.back-benefit p {
  font-size: 4rem;
  color: white;
}
#image-benefit1 {
  padding-top: 1rem;
  width: 121px;
  height: 130px;
}
#image-benefit2 {
  padding-top: 1rem;
  width: 121px;
  height: 130px;
}
#image-benefit3 {
  padding-top: 1rem;
  width: 121px;
  height: 130px;
}
.benefit-content {
  background-color: #ffffff;
}
.benefit-content h1 {
  margin-top: 10%;
  color: #54acbf;
}

.et_pb_text {
  background-color: #54acbf;
  border: 20px solid #54acbf;
}

.join {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
.attention {
  font-weight: bold;
}
.content-join {
  list-style-type: none;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center !important;
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.content-link {
  color: black;
}

.content-link:hover {
  color: white !important;
}

.donationForm {
  line-height: 20px;
}

.donationForm .donationFormTitle {
  font-weight: 700;
  color: #54acbf;
  margin-bottom: 20px;
}

.donationForm .donationFormGroup {
  margin-bottom: 20px;
}

.donationForm .donationFormGroup .app_donationFormGroupContent__h6cMh {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.donationForm
  .donationFormGroup
  .app_donationFormGroupContent__h6cMh
  .groupText {
  font-size: 1.2rem;
}

.donationForm
  .donationFormGroup
  .typeDonate
  .timeDonate
  .app_donationFormGroupContent__h6cMh
  .app_groupInput__3Xbjj {
  margin-top: 7px;
  border-radius: 3px;
  color: #999;
  background-color: #eee;
  border: 1px solid #eee;
  padding: 10px;
}
.app_red__VN7RT {
  color: #f74d50;
}

.donationForm
  .app_donationFormActions__Iwgew
  .app_buttonSubmit--invalid__1ZGgC {
  color: #666;
  border: 2px solid #666;
  border-radius: 5%;
}

.epilogue {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

@media (max-width: 767px) {
  #introduce {
    display: none;
  }
  #meaning {
    font-size: 2rem;
  }
  #appeal {
    font-size: 2rem;
  }
  .content-silde {
    font-size: 1rem;
  }
  .container-itnuoiit {
    width: 100% !important;
  }
  .covid {
    background-size: 100% 25rem;
    padding-bottom: 0rem;
  }
  .covid-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .reason {
    margin-top: 5rem;
    padding-bottom: 5rem;
    background-size: 100% 30rem;
  }
  .content-reasion h1 {
    font-size: 2rem;
  }
  .content-reasion h2 {
    font-size: 1.5rem;
  }
  .covid-content h1 {
    color: #54acbf;
    font-size: 2rem;
  }
  .covid-content h2 {
    color: #54acbf;
    font-size: 1rem;
  }
  .letter {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-size: 100% 30rem;
  }
  .content-letter h1 {
    font-size: 1.2rem !important;
  }
  .content-letter h2 {
    font-size: 1.2rem !important;
  }
  .content-letter h3 {
    font-size: 1.2rem !important;
  }
  .benefit {
    margin-bottom: 1rem;
  }
  .back-benefit p {
    font-size: 2rem;
  }
  .benefit-content h1 {
    font-size: 1.5rem;
  }
  #image-benefit1,
  #image-benefit2,
  #image-benefit3 {
    width: 70px;
    height: 70px;
  }
  .meaning {
    margin-bottom: 2rem;
  }
  .content-join p {
    font-size: 1.2rem !important;
    text-align: center;
  }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  .et_pb_section .et_pb_column .et_pb_module {
    margin-bottom: 30px;
  }
  #introduce {
    width: 25rem;
    margin-left: 30rem;
    font-size: 1.2rem;
    top: 1.5rem;
  }
  #meaning {
    font-size: 3rem;
  }
  #appeal {
    font-size: 3rem;
  }
  .container-itnuoiit {
    width: 100% !important;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  #introduce {
    width: 30rem;
    top: 3rem;
    margin-left: 42rem;
    font-size: 1.5rem;
  }
  #meaning {
    font-size: 4rem;
  }
  #appeal {
    font-size: 4rem;
  }
  .container-itnuoiit {
    width: 90% !important;
  }
}
@media (min-width: 1441px) {
  .reason {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  #introduce {
    width: 90rem;
    top: 12rem;
    font-size: 4rem;
    margin-left: 110rem;
  }
  #meaning {
    font-size: 10rem;
  }
  #appeal {
    font-size: 10rem;
  }
  .container-itnuoiit {
    width: 80% !important;
  }
}
