.needhelp_container {
  margin-top: 10px;
  padding-top: 10px;
  background-color: rgb(253, 250, 250);
  display: block;
  overflow: hidden;
  /* padding: 60px 0; */
}

.needhelp_container .needhelp_content .tittle_shap {
  animation: rotation 10s linear infinite;
}

.needhelp_container .needhelp_content h4 {
  text-align: left;
  font: 700 24px/38px "Comfortaa", cursive;

  color: #22bbea;
  padding: 20px 0 15px;
  /* max-width: 315px; */
}

.needhelp_container .needhelp_content h2 {
  text-align: left;
  font: 700 35px/52px "Comfortaa", cursive;
  color: #fd7611;
  position: relative;
  padding-bottom: 25px;
}

.needhelp_container .needhelp_content h2:after {
  content: "";
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 58px;
  background: #fd7611;
}

.needhelp_container .needhelp_content p {
  text-align: left;
  font-size: 23px;
  padding-top: 5px;
  max-width: 620px;
}

.needhelp_container .needhelp_content .needhelp_subcontent p {
  font-size: 20px;
  color: rgba(1, 1, 1, 0.702);
  padding-top: 10px;
  /* max-width: 400px; */
}

.needhelp_container .needhelp_content .needhelp_subcontent p:first-child {
  padding-top: 55px;
}

.needhelp_container .needhelp_content .needhelp_subcontent .popup-youtube {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  height: 236px;
  width: 236px;
  line-height: 236px;
  position: relative;
  text-align: center;
  z-index: 1;
  margin-top: 35px;
  margin-left: 20px;
  animation: pulseBig 2s infinite;
}

.needhelp_container
  .needhelp_content
  .needhelp_subcontent
  .popup-youtube:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  transition: all 300ms linear 0s;
}

.needhelp_container .needhelp_content .needhelp_subcontent .popup-youtube img {
  max-width: 100%;
}

.needhelp_container
  .needhelp_content
  .needhelp_subcontent
  .popup-youtube
  i:before {
  color: #fff;
  position: absolute;
  font-size: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 1;
}

.needhelp_container
  .needhelp_content
  .needhelp_subcontent
  .popup-youtube:hover:after,
.needhelp_container
  .needhelp_content
  .needhelp_subcontent
  .popup-youtube:focus:after {
  opacity: 0;
}

.needhelp_container .people_img {
  padding-top: 100px;
  /* background-image: url("../images/imgneedhelp.PNG"); */
}

#icon_need_play {
  color: yellow;
  padding: 2px 2px;
  position: relative;
  top: -5em;
  left: 15em;
}
#icon_need_play:hover {
  color: red;
  border-radius: 15px;
}
.redirect {
  text-decoration: none;
}
.redirect h4:hover {
  color: #fd7611;
}
