.become_volunter {
    display: block;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
    padding-bottom: 70px;
}

.become_volunter h2 {
    font: 700 30px "Verdana", cursive;
    color: #22bbea;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
}

.become_volunter p {
    color: #22bbea;
    padding-top: 20px;
}

.become_volunter .theme_btn {
    box-shadow: none;
    min-width: 200px;
    margin-top: 15px;
}

.become_volunter .volunter_row {
    z-index: 1;
    padding: 70px 45px 120px;
    position: relative;
}

.become_volunter .volunter_row {
    /* background: #fff; */
    box-shadow: 0px 19px 69px 0px rgba(178, 178, 185, 0.35);
    padding: 60px 30px;
    background: url("../images/volunter-bg.png") no-repeat;
}

.become_volunter .volunter_row:after {
    display: none;
    content: "";
    position: absolute;
    top: -40px;
    bottom: 0;
    left: -50px;
    right: -50px;
    background: url("../images/volunter-bg.png") no-repeat;
    z-index: -1;
}
.become_volunter .volunter_row h2, p{
    padding-left: 2em;
}




