.event_area {
    display: block;
    overflow: hidden;
    margin-top: 120px;
    padding-top: 60px;
    padding-bottom: 70px;
    background: url("../images/event-bg-2.png") no-repeat left top;
    position: relative;
    z-index: 1;
}

.event_area:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 200px;
    background: url("../images/event-bg-3.png") no-repeat;
    width: 454px;
    height: 545px;
    z-index: -1;
}

.event_area .event_first {
    margin-bottom: 30px;
    background: url("../images/event-1.png") no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 140px 10px 155px;
    z-index: 1;
}

.event_area .event_first:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    /* background-color: rgba(255, 122, 23, 0.761); */
    background-color: #22bbea;
    z-index: -1;
}

.event_area .event_first .heding {
    color: #fff;
    font: 700 30px/48px "Comfortaa", cursive;
}

.event_area .event_first .heding:hover,
.event_area .event_first .heding:focus {
    color: #7c6df4;
}

.event_area .event_first p {
    font-size: 18px;
    color: #fff;
    padding-top: 15px;
}

.event_area .event_first .theme_btn {
    background: #fff;
    color: #fd7611;
    line-height: 48px;
    min-width: 140px;
    margin-top: 60px;
    box-shadow: none;
}

.event_area .event_item .heding {
    font: 700 18px/30px "Comfortaa", cursive;
    color: #272626;
    display: block;
    padding-bottom: 17px;
}

.event_area .event_item .heding:hover,
.event_area .event_item .heding:focus {
    color: #7c6df4;
}

.event_area .event_item p {
    padding-bottom: 28px;
}

.event_area .event_item .event_img {
    display: block;
    overflow: hidden;
}

.event_area .event_item .event_img img {
    max-width: 100%;
    transition: all 300ms linear 0s;
}

.event_area .event_item:hover .event_img img,
.event_area .event_item:focus .event_img img {
    transform: scale3D(1.2, 1.2, 2);
}