@import "node_modules/react-modal-video/scss/modal-video.scss";

#slide {
  height: 1000px;
  width: 100%;
  background-image: url("./slide.JPG");
}
.icon {
  size: 100;
  position: relative;
  bottom: 0em;
  top: 90%;
  text-align: center;
  margin-left: 47%;
  color: rgb(12, 197, 243);
}
#slide a :hover {
  size: 100;
  border-radius: 20px;
  color: red;
}

@media only screen and (max-width: 1366px) {
  #slide {
    height: 600px;
    width: 100%;
    background-image: url("https://i.ibb.co/VSdqtVB/1520125542283-e-1632355200-v-beta-t-z-Hg-HDq-RD-avb-k-Qg6p-UHYHJJDNBn-RHm-SDKISSEu-LMTM.jpg");
  }
  .icon {
    size: 100;
    position: relative;
    bottom: 0em;
    top: 32em;
    text-align: center;
    margin-left: 26rem;
    color: #f5310e;
  }
}
@media only screen and (max-width: 736px) {
  #slide {
    width: 105px;
    height: 200px;
    width: 100%;
    padding-top: 5px;
    background-image: url("https://i.ibb.co/KwLXJ2b/donate1.jpg");
  }
  .icon {
    position: relative;
    bottom: 0em;
    top: 75%;
    margin-left: 38%;
    color: rgb(218, 19, 19);
  }
  #slide a :hover {
    size: 100;
    border-radius: 20px;
    color: rgb(0, 174, 255);
  }
}

@media only screen and (max-width: 667px) {
  #slide {
    height: 310px;
    background-image: url("https://i.ibb.co/KwLXJ2b/donate1.jpg");
  }
  .icon {
    position: relative;
    bottom: 0em;
    top: 75%;
    margin-left: 36%;
    color: red;
  }
  #slide a :hover {
    size: 100;
    border-radius: 20%;
    color: rgb(0, 174, 255);
  }
}
