@import "node_modules/react-modal-video/scss/modal-video.scss";

#slide {
  height: 1000px;
  width: 100%;
  background-image: url("./slide.JPG");
}
.icon {
  size: 100;
  position: relative;
  bottom: 0em;
  top: 90%;
  text-align: center;
  margin-left: 47%;
  color: rgb(36, 186, 255);
}
#slide a :hover {
  size: 100;
  border-radius: 20px;
  color: red;
}

@media only screen and (max-width: 1366px) {
  #slide {
    height: 600px;
    width: 100%;
    background-image: url("https://i.ibb.co/Yb96qkm/IMG-1184.jpg");
  }
  .icon {
    size: 100;
    position: relative;
    bottom: 0em;
    top: 32em;
    text-align: center;
    margin-left: 26rem;
    color: #ebdc0c;
  }
}
@media only screen and (max-width: 736px) {
  #slide {
    width: 105px;
    height: 200px;
    width: 100%;
    padding-top: 5px;
    background-image: url("https://i.ibb.co/p3BXYbw/hq720.jpg");
  }
  .icon {
    position: relative;
    bottom: 0em;
    top: 8em;
    text-align: center;
    margin-left: 9rem;
    color: red;
  }
  #slide a :hover {
    size: 100;
    border-radius: 20px;
    color: rgb(0, 174, 255);
  }
}

@media only screen and (max-width: 667px) {
  #slide {
    width: 105px;
    height: 200px;
    width: 100%;
    padding-top: 5px;
    background-image: url("https://i.ibb.co/p3BXYbw/hq720.jpg");
  }
  .icon {
    position: relative;
    bottom: 0em;
    top: 8em;
    text-align: center;
    margin-left: 39%;
    color: red;
  }
  #slide a :hover {
    size: 100;
    border-radius: 20%;
    color: rgb(0, 174, 255);
  }
}
