.intro {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: rgb(250, 249, 248);
  color: #22bbea;
}
.intro h1 {
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
}
#tuyensinh {
  padding-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 50%;
  padding-bottom: 20px;
}
@media only screen and (max-width: 1366px) {
  .intro {
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 253, 255);
    color: #22bbea;
  }
  .intro h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
  }
  #tuyensinh {
    padding-top: 20px;
    width: 100%;
    margin-right: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
    padding-top: 30px;
    width: 50%;
    height: 50%;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 736px) {
  .intro {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(250, 249, 248);
    color: #22bbea;
  }
  .intro h1 {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
  }
  #tuyensinh {
    padding-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}
