.title {
  h2 {
    font-size: 250%;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 4%;
  }
}
.slide {
  .donate-img {
    height: 55em;
  }
  .text-img {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    h1 {
      text-align: center;
      margin-top: 85%;
      font-weight: 700;
      color: rgb(16, 155, 236);
      span {
        color: rgb(16, 155, 236);
      }
    }
    p {
      margin-left: 16em;
    }
  }
}
.confirm {
  width: 40em;
  height: 5em;
}
@media only screen and (max-width: 360px) {
  .slide {
    .donate-img {
      height: 20em;
    }
    .text-img {
      position: absolute;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      z-index: 2;
      h1 {
        text-align: center;
        margin-top: 8em;
        margin-left: 2px;
        font-size: 14px;
        font-weight: 20;
      }
      p {
        margin-left: 2em;
        margin-right: 4em;
        text-align: justify;
        font-size: 10px;
      }
    }
  }
  .confirm {
    margin-left: -10em;
    width: 21em;
    height: 3em;
  }
  .logo-image {
    width: 330px;
    .logo-image1 {
      width: 20%;
      height: 15%;
    }
    .title {
      width: 50%;
      h2 {
        font-size: 12px;
      }
    }
    .logo-image3 {
      width: 15%;
      margin-left: -7px;

      image {
        width: 8px;
        height: 5px;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .logo-image #logo_donate {
    margin-top: -5px;
    height: 80px;
  }
  .logo-image .title h2 {
    font-size: 20px;
    text-align: justify;
  }

  .slide {
    .donate-img {
      height: 15em;
      width: 100%;
    }
    .text-img {
      position: absolute;
      align-items: center;

      justify-content: center;
      flex-direction: column;

      h1 {
        text-align: center;
        margin-top: 15em;
        margin-left: 2px;
        font-weight: 20;
      }
      p {
        margin-left: 2em;
        margin-right: 4em;
        text-align: justify;
        font-size: 20px;
      }
    }
  }
  .confirm {
    margin-left: 5em;
    width: 21em;
    height: 4em;
  }
}

hr {
  background-color: #96bdff;
  border: 0;
  opacity: 0.2;
  height: 2px;
  margin-top: 1.4em;
}
.donate {
  padding-left: 22%;
  padding-top: 1em;
}
.donate p {
  text-align: center;
}
.donate h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 0.2em;
  color: #1e90ff;
  font-weight: 700;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-top: 10%;
  // padding-bottom: 0.75em;
}
button {
  margin-top: 1em;
  background-color: #1e90ff;
  border: 1px solid #1e90ff;
  color: white;
  font-family: "Lato";
  // text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  padding: 0.2em 0em;
  width: 18rem;
  border-radius: 0.3rem;
  outline: none;
  .active & {
    border-bottom: 1px solid #ccc;
    border-radius: 0.3rem 0.3rem 0 0;
  }
  &:hover {
    background-color: #ff6600;
  }
}
.donate form {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 0px #2e5eae;
  -moz-box-shadow: 0px 0px 10px 0px #2e5eae;
  box-shadow: 0px 0px 10px 0px #2e5eae;
  padding-top: 50px;

  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: -35px;
  // .active & {
  //   //display: block;
  // }
}
.donate input {
  -webkit-appearance: none;
  display: block;
  position: absolute;
}
.donate label {
  text-align: center;
  display: block;
  background-color: #f2f2f2;
  color: black;
  padding: 0.5em 0;
  width: 12rem;
  font-size: 1.4rem;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  transition: all 0.05s ease;
  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #ff6600;
    -ms-transform: scale(1.02, 1.02); /* IE 9 */
    -webkit-transform: scale(1.02, 1.02); /* Safari */
    transform: scale(1.02, 1.02);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  &:last-child {
    border-radius: 0 0 0.3rem 0.3rem;
  }
}

#custom {
  max-width: 400px;
  margin: 0 auto;
  display: block;
  padding-top: 7em;
  padding-left: 3%;
  h2 {
    text-align: center;
    margin: 0;
    letter-spacing: 0.2em;
    color: #1e90ff;
    font-weight: 700;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 1.3em;
    padding-bottom: 0.75em;
  }
  .input-group-1 {
    width: 100%;
    margin-bottom: 0em;
    position: relative;
  }
  label {
    text-align: left;
    display: block;
    color: black;
    font-weight: 700;
    font-size: 2.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 1.6em 0 0.3em 0.2em;
    position: absolute;
    top: -1.25em;
    left: 0.5em;
  }
  input[type="text"] {
    text-align: left;
    font-family: "Lato";
    background-color: rgba(26, 68, 139, 0.3);
    font-weight: 300;
    border: 0px solid rgba(132, 178, 255, 0.67);
    color: black;
    font-size: 2.8em;
    box-sizing: border-box;
    padding-left: 2em;
    height: 1.9em;
    width: 100%;
    border-radius: 3px;
    outline: none;
  }
  button {
    background-color: #ff6600;
    border-color: #ff6600;
    font-size: 1.2em;
    margin-top: 1.2em;
    transition: all 0.2s ease;
    &:hover,
    &:focus {
      background-color: #ff6600;
      -ms-transform: scale(1.04, 1.04); /* IE 9 */
      -webkit-transform: scale(1.04, 1.04); /* Safari */
      transform: scale(1.04, 1.04);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }
  .back {
    float: left;
    position: relative;
    text-indent: -999em;
    background-color: transparent;
    border: 3px solid #2e64c0;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    span {
      position: absolute;
      display: block;
      background-color: #2e64c0;
      width: 60%;
      top: 50%;
      margin-top: -1.5px;
      left: 20%;
      height: 3px;
      border-radius: 3px;
      &:nth-child(2) {
        width: 40%;
        top: 64%;
        left: 17%;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari */
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        width: 40%;
        top: 36%;
        left: 17%;
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Safari */
        transform: rotate(-45deg);
      }
    }
  }
  .warn {
    display: none;
  }
  .next {
    float: right;
  }
}

#details {
  padding-top: 7em;
  text-align: left;
  display: block;
  text-align: center;
  margin: 0;
  .back {
    float: left;
    position: relative;
    text-indent: -999em;
    background-color: transparent;
    border: 3px solid #2e64c0;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    span {
      position: absolute;
      display: block;
      background-color: #2e64c0;
      width: 60%;
      top: 50%;
      margin-top: -1.5px;
      left: 20%;
      height: 3px;
      border-radius: 3px;
      &:nth-child(2) {
        width: 40%;
        top: 64%;
        left: 17%;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari */
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        width: 40%;
        top: 36%;
        left: 17%;
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Safari */
        transform: rotate(-45deg);
      }
    }
  }
  .next {
    float: right;
  }
  h2 {
    text-align: center;
    margin: 0;
    letter-spacing: 0.2em;
    color: #1e90ff;
    font-weight: 700;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 1.3em;
    padding-bottom: 0.75em;
  }
  .input-group-1 {
    width: 100%;
    margin-bottom: 0em;
  }
  .input-group-2 {
    width: 48.33114%;
    margin-right: 1.33772%;
    margin-bottom: 1.2em;
    float: left;
    &:nth-child(2n) {
      float: right;
      margin-right: 0;
    }
  }
  .input-group-3 {
    width: 37.952%;
    margin-right: 3.33772%;
    margin-bottom: 1.2em;
    float: left;
    &:nth-child(6n) {
      width: 17%;
    }
    &:nth-child(7n) {
      float: right;
      margin-right: 0;
    }
  }
  .contact-info {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  label {
    text-align: left;
    display: block;
    color: black;
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 1.6em 0 0.3em 0.2em;
  }
  input[type="text"] {
    text-align: left;
    font-family: "Lato";
    background-color: rgba(26, 68, 139, 0.3);
    font-weight: 300;
    border: 0px solid rgba(132, 178, 255, 0.67);
    color: white;
    font-size: 1.3em;
    box-sizing: border-box;
    padding-left: 0.75em;
    height: 2.2em;
    width: 100%;
    border-radius: 3px;
    outline: none;
  }
  button {
    background-color: #ff6600;
    border-color: #ff6600;
    font-size: 1.2em;
    margin-top: 1.2em;
    transition: all 0.2s ease;
    &:hover,
    &:focus {
      //background-color: red;
      -ms-transform: scale(1.04, 1.04); /* IE 9 */
      -webkit-transform: scale(1.04, 1.04); /* Safari */
      transform: scale(1.04, 1.04);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

#card {
  padding-top: 7em;
  text-align: left;
  display: block;
  text-align: center;
  margin: 0;
  hr {
    margin-top: 0.2em;
  }
  .back {
    float: left;
    position: relative;
    text-indent: -999em;
    background-color: transparent;
    border: 3px solid #2e64c0;
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    span {
      position: absolute;
      display: block;
      background-color: #2e64c0;
      width: 60%;
      top: 50%;
      margin-top: -1.5px;
      left: 20%;
      height: 3px;
      border-radius: 3px;
      &:nth-child(2) {
        width: 40%;
        top: 64%;
        left: 17%;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari */
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        width: 40%;
        top: 36%;
        left: 17%;
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Safari */
        transform: rotate(-45deg);
      }
    }
  }
  .next {
    float: right;
  }
  h2 {
    text-align: center;
    margin: 0;
    letter-spacing: 0.2em;
    color: #1e90ff;
    font-weight: 700;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 1.3em;
    padding-bottom: 0.75em;
  }
  .input-group-1 {
    width: 100%;
    margin-bottom: 0em;
  }
  .input-group-2 {
    width: 48.33114%;
    margin-right: 1.33772%;
    margin-bottom: 1.2em;
    float: left;
    &:nth-child(2n) {
      float: right;
      margin-right: 0;
    }
  }
  .input-group-3 {
    width: 37.952%;
    margin-right: 3.33772%;
    margin-bottom: 1.2em;
    float: left;
    &:nth-child(5n) {
      width: 17%;
    }
    &:nth-child(3n) {
      float: right;
      margin-right: 0;
    }
  }
  .contact-info {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  label {
    text-align: left;
    display: block;
    color: black;
    font-weight: 300;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 1.6em 0 0.3em 0.2em;
  }
  input[type="text"] {
    text-align: left;
    font-family: "Lato";
    background-color: rgba(26, 68, 139, 0.3);
    font-weight: 300;
    border: 0px solid rgba(132, 178, 255, 0.67);
    color: black;
    font-size: 1.3em;
    box-sizing: border-box;
    padding-left: 0.75em;
    height: 2.2em;
    width: 100%;
    border-radius: 3px;
    outline: none;
  }
  .payment button {
    background-color: #1e90ff;
    border-color: #1e90ff;
    &:hover {
      background-color: #ff6600;
    }
  }
  button {
    background-color: #ff6600;
    border-color: #ff6600;
    font-size: 1.2em;
    margin-top: 1.2em;
    transition: all 0.2s ease;
    &:hover,
    &:focus {
      background-color: #ff6600;
      -ms-transform: scale(1.04, 1.04); /* IE 9 */
      -webkit-transform: scale(1.04, 1.04); /* Safari */
      transform: scale(1.04, 1.04);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
