#buttonconfirm .confirm {
  width: 20px;
  height: 100%;
  padding-left: 40px;
  padding-right: 25%;
  margin-left: 7rem;
}

@media only screen and (max-width: 768px) {
  #details .contact-info {
    margin-top: -60%;
  }
  #buttonconfirm .confirm {
    width: 200px;
    height: 100%;
    padding-right: 25%;
    margin-left: -75px;
  }
  #card .contact-info {
    margin-top: -15%;
  }
}
