/* CSS ACTYVITY */
#activity_containerfluid {
  margin-top: -20px;
  background-color: rgb(248, 246, 244);
}
#activity_containerfluid .activity {
}
#activity_containerfluid .activity .title {
  color: #22bbea;
  text-align: center;
  padding-top: 10%;
}
.item {
  text-align: center;
}
.item h5 {
  color: #000000;
  font-size: 23px;
  padding-top: 2%;
}
.item #imgletter {
  height: 350px;
}
.item img:hover {
  border: rosybrown solid 2px;
  transition: 0.3s linear;
  border-radius: 10px;
}

.hoatdong iframe {
  margin: 10px;
  border-radius: 10px;
  width: 100%;
}

.hinhanh img {
  display: inline-block;
  padding: 5px;
  margin-top: 40px;
  vertical-align: top;
  border-radius: 30px;
  width: 100%;
  object-fit: cover;
}

.title {
  margin-bottom: 20px;
}
.activity.tittle h1 b {
  padding-top: 10px;
  color: rgb(14, 137, 253);
}

.hoatdong {
  text-align: center;
  display: flex;
}
.hoatdong h1 {
  margin-bottom: 70px;
  position: relative;
  top: 0;
}

.hoatdong h3 {
  font-size: 23px;
  text-align: unset;
  margin-left: 50px;
}
.rowvideo {
  padding-top: 5%;
}
.diachi {
  font-size: 12px;
  margin-left: 20px;
  word-wrap: break-word;
}
.video {
  margin: 20px;
}
@media only screen and (max-width: 375px) {
  .activity h1 {
    font-size: 22px;
  }
  #imgletter {
    height: 200px;
  }

  .hoatdong {
    display: block;
  }

  .hoatdong h3 {
    font-size: 20px;
    padding: auto;
  }
}
@media only screen and (max-width: 414px) {
  .activity h1 {
    font-size: 22px;
  }

  .hoatdong {
    display: block;
  }
  .b strong {
    font-size: 25px;
  }
  .hoatdong h3 {
    font-size: 20px;
    padding: auto;
  }
  .video h3 b {
    font-size: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .title h1 b {
    font-size: 22px;
  }

  .hoatdong iframe {
    border-radius: 10px;

    margin-left: 0px;
  }
  .hoatdong {
    display: block;
  }

  .hoatdong h3 {
    font-size: 20px;
    padding: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .activity h1 {
    font-size: 38px;
  }
  .hinhanh img {
    object-fit: cover;
  }

  #imgletter {
    height: 300px;
  }
  .hoatdong {
    display: block;
  }

  .hoatdong h3 {
    font-size: 30px;
    padding: auto;
  }
}

@media only screen and (max-width: 768px) {
  .activity h1 {
    font-size: 22px;
  }
  .thua {
    display: none;
  }
  .hinhanh img {
    object-fit: cover;
  }
  .hoatdong iframe {
    border-radius: 10px;

    margin-left: 0px;
  }
  .hoatdong {
    display: block;
  }

  .hoatdong h3 {
    font-size: 30px;
    padding: auto;
  }
}
@media only screen and (max-width: 375px) {
  .activity h1 {
    font-size: 38px;
  }

  .hoatdong iframe {
    border-radius: 10px;

    /* height: 250px; */
    margin-left: 0px;
  }
  .hoatdong {
    display: block;
  }

  .hoatdong h3 {
    font-size: 18px;
    padding: auto;
  }
}

/* Hiệu ứng */
